<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HIV Global Services Map</title>
<link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Advent+Pro:100' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="icon" href="/static/favicon.ico"/>
<script type="text/javascript" src="/static/picup.2.1.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBmJE9KrYdmPiW16lAHDJOiCvS1Fwen7BU&sensor=true"></script>
<script type="text/javascript" src="/static/application.js"></script>
<script>
var gl;
 
function displayPosition(position) {
  var lat = document.getElementById("latitude");
  var lng = document.getElementById("longitude");
  lat.value = position.coords.latitude;
  lng.value = position.coords.longitude;

  // Geocoder init
  var geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(lat.value,lng.value);
  
  // Get result on reverse geocoder
  geocoder.geocode({'latLng': latlng}, function(results, status){
    if(status == google.maps.GeocoderStatus.OK){
      populateAddressFields(results);
    } else {
      alert('Get location failed due to: ' + status);
    }
  });
}

// Populate address fields based on the geocoder results
function populateAddressFields(params){
  var add1 = ""; // street_number route
  var add2 = ""; // sublocality
  var city = ""; // locality
  var state = ""; // administrative_area_level_1
  var country = ""; // country
  var postal = ""; // postal_code

  for(var i=0; i < params[0].address_components.length; i++){
    switch(params[0].address_components[i].types[0]){
      case 'street_number':
        add1 += params[0].address_components[i].long_name + ' ';
        break;
      case 'route':
        add1 += params[0].address_components[i].long_name + ' ';
        break;
      case 'sublocality':
        add2 += params[0].address_components[i].long_name + ' ';
        break;
      case 'locality':
        city += params[0].address_components[i].long_name + ' ';
        break;
      case 'administrative_area_level_1':
        state += params[0].address_components[i].long_name + ' ';
        break;
      case 'country':
        country += params[0].address_components[i].long_name + ' ';
        break;
      case 'postal_code':
        postal += params[0].address_components[i].long_name + ' ';
        break;
    }
  }

  document.getElementById('add1').value = add1;
  document.getElementById('add2').value = add2;
  document.getElementById('state').value = state;
  document.getElementById('city').value = city;
  document.getElementById('country').value = country;
  document.getElementById('postal').value = postal;
}
 
function displayError(positionError) {
  alert("Could not determine location.");
}
 
try {
  if (typeof navigator.geolocation === 'undefined'){
    gl = google.gears.factory.create('beta.geolocation');
  } else {
    gl = navigator.geolocation;
  }
} catch(e) {}
 
if (gl) {
  gl.getCurrentPosition(displayPosition, displayError);
} else {
}

// Picup init
function picupLoader(){
  window.name = 'pageThree';

  Picup2.checkHash();

  var url = window.location.host + '/callback_picup';
  var faviconUrl = window.location.host + '/static/favicon.ico';

  currentParams = {
    'callbackURL': url,
    'referrername': escape('HIV Global Services Map'),
    'referrerfavicon': escape(faviconUrl),
    'purpose': escape('Select your photo to be uploaded.'),
    'debug': 'false',
    'returnThumbnailDataURL': 'false',
    'returnServerResponse': 'true'
  }

  Picup2.convertFileInput('photo', currentParams);
}

// Check is the page is opened by an ios device or not
function checkMobileBrowser(){
  if (Picup2.isMobileIOS()){
    picupLoader();
  }
}

// Handle the callback params
Picup2.callbackHandler = function(params){
  if(params['status'] === 'Complete'){
    document.getElementById('image_url').value = params['remoteFileURL'];
    setInputFields('photo_review',this.value);
  }
}

function populatePreviewPage(){
  var primaryGroup = document.getElementById('primary_group').value;
  var facilityDesc = document.getElementById('facility_desc').value;
  var facilityName = document.getElementById('facility_name').value;
  var primaryService = document.getElementById('primary_service').value;
  
  setInputFields('facility_name_review', facilityName);
  
  setDropDownListValue('primary_group_review', primaryGroup);
  setDropDownListValue('facility_desc_review', facilityDesc);
  setDropDownListValue('primary_service_review', primaryService);
}

function goToReview(){
  window.location.href += '#review';
}

</script>

</head>

<body onload="checkMobileBrowser();populatePreviewPage();">

<div class="main">

<form action="handler" method="POST" enctype="multipart/form-data">
  <div id="review_content" style="display:none">
    <div class="label">
      <p><a name="review">Please review your inputs before submitting.</a></p>
    </div>
  
    <div class="label">Facility Name:</div>
    <input type="edit" id="facility_name_review" onchange="setInputFields('facility_name',this.value)"><br><br>

    <div class="label">Primary Service:</div>
    <div class="styled-select">
      <select name="primary_service_review" id="primary_service_review" onchange="setInputFields('primary_service',this.value)">
        <option value="five">CHOOSE ONE. . . </option>
        {% for option in service_options %}
          <option value="{{ option.value }}">{{ option.display_name }}</option>
        {% endfor %}
      </select>
    </div>
    <br>

    <div class="label">Facility Description:</div>
    <div class="styled-select">
      <select name="facility_desc_review" id="facility_desc_review" onchange="setInputFields('facility_desc',this.value)">
        <option value="five">CHOOSE ONE. . . </option>
        {% for option in description_options %}
          <option value="{{ option.value }}">{{ option.display_name }}</option>
        {% endfor %}
      </select>
    </div>
    <br>

    <div class="label">Primary Group:</div>
    <div class="styled-select">
      <select name="primary_group_review" id="primary_group_review" onchange="setInputFields('primary_group',this.value)">
        <option value="five">CHOOSE ONE. . . </option>
        {% for option in group_options %}
          <option value="{{ option.value }}">{{ option.display_name }}</option>
        {% endfor %}
      </select>
    </div>
    <br>
  </div>
  
  {% for option in hidden_options %}
  <input type="hidden" name="{{ option.name }}" id="{{ option.name }}" value="{{ option.value }}" />
  {% endfor %}

  <input name="latitude" id="latitude" type="hidden" />
  <input name="longitude" id="longitude" type="hidden" />

  <div class="label">Address Line 1:</div>
  <input name="add1" type="edit" id="add1" onchange="setInputFields(this.id + '_review',this.value)"><br><br>

  <div class="label">Address Line 2:</div>
  <input name="add2" type="edit" id="add2" onchange="setInputFields(this.id + '_review',this.value)"><br><br>

  <div class="label">City:</div>
  <input name="city" type="edit" id="city" onchange="setInputFields(this.id + '_review',this.value)"><br><br>

  <div class="label">State/Province:</div>
  <input name="state" type="edit" id="state" onchange="setInputFields(this.id + '_review',this.value)"><br><br>

  <div class="label">Country:</div>
  <input name="country" type="edit" id="country" onchange="setInputFields(this.id + '_review',this.value)"><br><br>

  <div class="label">Zip/Postal Code:</div>
  <input name="postal" type="edit" id="postal" onchange="setInputFields(this.id + '_review',this.value)"><br><br>

  <div class="label">Telephone:</div>
  <input name="telephone" type="edit" id="telephone" onchange="setInputFields(this.id + '_review',this.value)"><br><br>

  <div class="label">Website:</div>
  <input name="website" type="edit" id="website" onchange="setInputFields(this.id + '_review',this.value)"><br><br>

  <div class="label">Upload a photo:</div>
  <input name="photo" type="file" id="photo" onchange="setInputFields(this.id + '_review',this.value)"><br><br>

  <input name="image_url" id="image_url" type="hidden" onchange="setInputFields('photo_review',this.value)">

  <div class="label">Are you a manager/employee at this facility?</div>
  <input type="radio" name="manager_employee" class="radio" value="yes" onClick="document.getElementById('optional_info').style.display = 'inline';">Yes</input><br>
  <input type="radio" name="manager_employee" class="radio" value="no" onClick="document.getElementById('optional_info').style.display = 'none';">No</input>

  <div id="optional_info" style="display: none">
  <div class="label">Contact Name:</div>
  <input name="contact_name" type="edit"><br><br>

  <div class="label">Email:</div>
  <input name="contact_email" type="edit"><br><br>

  <div class="label">Phone:</div>
  <input name="contact_phone" type="edit"><br><br>

  <div class="label">You may be contacted to verify the information submitted.</div>
  </div>

  <div class="label">Enter other information or feedback regarding this facility:</div>
  <textarea name="feedback" id="feedback" onchange="setInputFields(this.id + '_review',this.value)"></textarea><br><br>

  <div id="review_button">
    <input type="button" class="submit" value="REVIEW" onclick="setToggle('submit_content','on');setToggle('review_button', 'off');setToggle('review_content', 'on');goToReview()">
  </div>

  <div id="submit_content" style="display:none">
    <input type="submit" class="submit" value="SUBMIT">
  </div>

</form>

<br><br>
<text class="initiative">This is an initiative of:</text><br>
<text class="bchange">B-CHANGE FOUNDATION</text>
</div>
</body>
</html>
