<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/static/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HIV Global Services Map</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Advent+Pro:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBmJE9KrYdmPiW16lAHDJOiCvS1Fwen7BU&sensor=true"></script>
    <script type="text/javascript" src="/static/application.js"></script>
    <script type="text/javascript">
      var map;
      var gl;
      
      try {
        if (typeof navigator.geolocation === 'undefined'){
          gl = google.gears.factory.create('beta.geolocation');
        } else {
          gl = navigator.geolocation;
        }
      } catch(e) {}
      
      function initMap() {
        if (gl) {
          gl.getCurrentPosition(function displayMap(position){
            map = showMap(position, 15, "map_canvas");
            
            {% for location in locations %}
              {% if location.latitude %}
                {% if location.photo %}
                  var photoExist = 1;
                {% else %}
                  var photoExist = 0;
                {% endif %}
              
                showMarker(map, {{location.latitude}}, 
                           {{location.longitude}},
                           {% if location.facility_name %} 
                             '{{location.facility_name}}', 
                           {% else %}
                             '',
                           {% endif %}
                           getFacilityInformation(setServiceDesc('{{location.primary_service}}'),
                                                 '{{location.add1}} {{location.add2}}', 
                                                 '{{location.facility_name}}', 
                                                 '{{location.key}}', 
                                                 photoExist));
              {% endif %}
            {% endfor %}
            
          }, displayError);
        } else {
          displayError();
        }
      }
      
      google.maps.event.addDomListener(window, 'load', initMap);
      
      // Go to page 1
      function goToPageOne(){
        window.location.href = 'http://' + window.location.host + '/1';
      }
      
      // Translate from service code into service description
      function setServiceDesc(desc){
        var serviceDesc;
        
        {% for description in service_options %}
          if (desc == '{{description.value}}') {
            serviceDesc = '{{description.display_name}}';
          }
        {% endfor %}
        
        return serviceDesc;
      }
    </script>
  </head>

  <body>
    <div class="main">
      <div class="label">Is an HIV testing or treatment clinic in your area missing from this map?</div>
      <div class="label">You can contribute to this map by clicking "Add New Location" below.</div>
      <input type="button" class="submit" value="Add New Location" style="width: 100% !important" onclick="goToPageOne()">
      <div id="map_canvas"></div>
      <br><br>
      <text class="initiative">This is an initiative of:</text><br>
      <text class="bchange">B-CHANGE FOUNDATION</text>
    </div>
  </body>
</html>
